.list-container {
    border-radius: 5px;
    background: #fff;
    border: 1px solid #D3D8DF;
    padding: 30px;
}

.list-group-item {
    padding: 11px 15px;
    min-height: 80px;
    border: none;
    border-top: 1px solid #D3D8DF;
    box-shadow: none;
    background: transparent;
}

.list-group-item:hover {
    box-shadow: 0px 1px 9px 2px #00000026;
    border-color: transparent;
}

.item-image-container {
    width: 70px;
    float: left;
}

.item-image {
    max-height: 57px;
    max-width: 57px;
    float: left;
    margin-right: 15px;
    transition: 0.2s;
}

.item-image:hover,
.list-group-item:hover .item-image {
    transition: 0.3s;
    margin-top: -5px;
    /* transform: rotateX(360deg); */
}

.item-text {
    font-size: 12px;
    color: #757575;
    margin-top: 17px;
}

.item-name {
    color: #233153;
}

.no-items-message {
    text-align: center
}

.list-header {
    height: 58px;
    min-height: 58px;
    border: none;
    box-shadow: none;
}

.list-header:hover {
    box-shadow: none;
}

.list-header-title {
    color: #233153d4;
    font-weight: 500;
    font-size: 13px;
}

.list-header-title:hover,
.list-header-title:active {
    cursor: pointer;
    opacity: 0.8;
}

.list-header-icon-asc {
    transition: 0.3s;
    margin-left: 5px;
}

.list-header-icon-desc {
    margin-left: 5px;
    transition: 0.3s;
    transform: rotateY(180deg);
}

@media only screen and (max-width: 990px) {
    .item-first {
        border: none;
    }
    .item-image-container {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .item-image {
        max-height: 150px;
        max-width: 180px;
        float: none;
        margin: 10px 0 30px 0;
    }
    .item-name {
        font-weight: bold;
    }
    .item-name:before {
        content: 'Name: ';
    }
    .item-game-series:before {
        content: 'Game Series: ';
    }
    .item-amiibo-series:before {
        content: 'Amiibo Series: ';
    }
    .item-character:before {
        content: 'Character: ';
        margin-top: 0;
    }
    .item-type:before {
        content: 'Type: ';
    }
    .list-container {
        text-align: center;
    }
    .item-number {
        display: none;
    }
    .item-text {
        font-size: 14px;
    }
    .list-header {
        display: none;
    }
}